#song-playing-bar {
  padding: 10px 10px;
  border-radius: var(--border-radius-secondary);
  background-color: var(--color-bg);
  color: var(--color-text-secnondary);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
  }
  .songs-item {
    flex: 1;
  }
  .status-action {
    flex: 1;
  }
  .song-playback {
    flex: auto;
  }
  .action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    color: var(--color-text);
    cursor: pointer;
  }
  .play {
    color: #000;
    background-color: var(--color-text);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .playback {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    .bar {
      position: relative;
      width: 100%;
      height: 8px;
      background-color: var(--color-general);
      border-radius: 20px;
      .bar-flled {
        position: absolute;
        left: 0;
        width: 60%;
        background-color: var(--color-primary);
        height: 8px;
        border-radius: 20px;
      }
    }
  }

  .status-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: var(--color-text);
    cursor: pointer;
    .bar {
      position: relative;
      width: 100px;
      height: 6px;
      background-color: var(--color-general);
      border-radius: 20px;
      .bar-flled {
        display: block;
        position: absolute;
        left: 0;
        width: 60%;
        background-color: var(--color-text);
        height: 6px;
        border-radius: 20px;
      }
    }
  }
  .songs-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .song-detail {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
    }
    .song-avatar {
      img {
        height: 60px;
        width: 60px;
        border-radius: 10px;
      }
    }
    .song-title {
      .title {
        font-size: 12px;
        color: var(--color-text);
      }
      .artist {
        font-size: 10px;
        color: var(--color-text-secnondary);
      }
    }
  }
}
