#music-playlist-bar {
  height: 100%;

  .wrapper {
    position: relative;
    background-color: var(--color-bg);
    width: 100%;
    padding: 20px 20px;
    border-radius: var(--border-radius-main);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;

    .song {
      text-align: center;
      .song-img {
        height: 150px;
        width: 100%;
        border-radius: var(--border-radius-main);
      }
    }
    .song-info {
      margin-top: 10px;
      .type {
        font-size: 14px;
        font-weight: 400;
      }
      .name {
        font-size: 30px;
        font-weight: 700;
        margin-top: 6px;
      }
      .info {
        font-size: 12px;
        font-weight: 400;
        margin-top: 16px;
      }
    }
  }
}
