#music-playlist-bar {
  height: 100%;
  @media screen and (max-width: 760px) {
    display: none;
  }

  .wrapper {
    position: relative;
    background-color: var(--color-bg);
    width: 100%;
    padding: 20px 20px;
    border-radius: var(--border-radius-main);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;

    .song {
      text-align: center;
      .song-img {
        height: 150px;
        width: 100%;
        border-radius: var(--border-radius-main);
      }
    }
    .song-info {
      margin-top: 10px;
      .type {
        font-size: 14px;
        font-weight: 400;
      }
      .name {
        font-size: 30px;
        font-weight: 700;
        margin-top: 6px;
      }
      .info {
        font-size: 12px;
        font-weight: 400;
        margin-top: 16px;
      }
    }
    .like-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      border-bottom: 3px solid #3b3f42;
      padding-bottom: 16px;
      .icon-heart {
        background-color: #3b3f42;
        border-radius: 8px;
        padding: 3px 8px;
      }
      .likes {
        font-size: 10px;
        font-weight: 500;
      }
      .songs-total {
        font-size: 10px;
        font-weight: 400;
        color: var(--color-text-secnondary);
      }
    }
  }
}
