#user-profile {
  padding: 16px 10px;
  border-radius: var(--border-radius-secondary);
  background-color: var(--color-bg);
  color: var(--color-text);
  @media screen and (max-width: 1085px) {
    display: none;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: row;
  }
  .updates-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-right: 10px;
    border-right: 1px solid var(--color-text);
  }
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    .img-wrapper {
      height: 25px;
      width: 25px;
      .avatar {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .user-name {
      font-size: 12px;
    }
  }
}
