#search-music {
  padding: 16px 16px;
  border-radius: var(--border-radius-secondary);
  background-color: var(--color-bg);
  color: var(--color-text);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
  .search-field {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
  .search-input {
    background-color: transparent;
    outline: 0;
    border: 0;
    width: 250px;
    font-size: 16px;
    color: var(--color-text);
    @media screen and (max-width: 568px) {
      width: 180px;
    }
    @media screen and (max-width: 525px) {
      width: 130px;
    }
  }
  .search-btn {
    padding-left: 10px;
    border-left: 0.3px solid var(--color-text);
    .icon {
      outline: 0.5px solid var(--color-text);
      border-radius: 6px;
    }
    cursor: pointer;
  }
}
