:root {
  /* color */
  --color-primary: #2fd973;
  --color-secondary: #0a0d14;
  --color-bg: #22252a;
  --color-text: #f8f8f8;

  /* border */

  --border-radius-main: 20px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-poppins), sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-secondary);
  color: var(--color-text);
  margin: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
