#home-page {
  .main-content {
    max-height: 74vh;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
  @media screen and (max-width: 1024px) {
    .show-nav {
      position: relative;
      left: 0;
      top: 0;
      transition: ease-in-out 0.3s;
    }

    .hide-nav {
      position: relative;
      left: -200%;
      transition: ease-in-out 0.3s;
    }
  }
  .showonDesktop {
    display: block;
  }
  .hideonDesktop {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    .showonDesktop {
      display: none;
    }
    .hideonDesktop {
      display: block;
    }
  }
  @media screen and (max-width: 760px) {
    .breakcumb-bar {
      display: none;
    }
  }
}
